<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fluffychat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
				<key>dateExpires</key>
				<string>02.08.2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>emoji_picker_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_selector_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_callkit_incoming.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_foreground_task.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_new_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_ringtone_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_vodozemac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_web_auth_2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_imaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>receive_sharing_intent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>record_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlcipher_flutter_libs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webcrypto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U934A9P4W2.com.shmartsev.chat.app.FluffyChat-Share</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U934A9P4W2</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.shmartsev.chat.app</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>FluffyChat Share.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>94f01ae9-d812-48bd-97cf-95a0b43a7be0</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.shmartsev.chat.app.FluffyChat-Share</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A79CF89EFF02343A62FC99303B0AE6797C5665AE</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U934A9P4W2.com.shmartsev.chat.app.Notification-Service-Extension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U934A9P4W2</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.shmartsev.chat.app</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Notification Service Extension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>2cceec3a-eff3-49e1-a63b-959176a6fc8d</string>
						<key>dateExpires</key>
						<string>02.08.2027</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.shmartsev.chat.app.Notification-Service-Extension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U934A9P4W2</string>
						<key>name</key>
						<string>Arsenii Shmartsev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U934A9P4W2.com.shmartsev.chat.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:example.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>U934A9P4W2</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.shmartsev.chat.app</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e885b3b6-fe95-4f3b-b18e-f2674055003e</string>
				<key>dateExpires</key>
				<string>02.08.2027</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.shmartsev.chat.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U934A9P4W2</string>
				<key>name</key>
				<string>Arsenii Shmartsev</string>
			</dict>
			<key>versionNumber</key>
			<string>2.5.1</string>
		</dict>
	</array>
</dict>
</plist>
